.titleGroup {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
}

.titleIcon {
  font-size: x-large;
}

.title {
  text-align: start;
  margin: 0;
  padding: 0;
}

.line {
  border: 0.7px solid #adc178;
  width: 50%;
  margin: 5px 0 15px 0;
}

.fileInputGroup {
  display: block;
  justify-content: center;
  margin: 10px 0 8px 0;
}

.imgLabel {
  background-color: #6c757d8b;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: small;
}

.fileInput {
  display: none;
}

.img {
  height: 200px;
  width: 100%;
  border-radius: 20px;
}

.selectBox {
  display: flex;
  justify-content: start;
  margin: 20px 0;
}

.select {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.editIcon {
  color: black;
  font-size: small;
}

.missionTitle {
  text-align: start;
}

.content {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  width: 100%;
  height: 200px;
  border: none;
  padding-left: 10px;
  resize: none;
  font-family: "NanumBarunGothicLight";
}

.content::placeholder {
  color: #dadada;
  font-size: small;
  font-family: "NanumBarunGothicLight";
}

.content:focus {
  outline: none;
}

.button:disabled {
  background-color: #dadada;
}

.wrapper {
  display: flex;
  background: #fff;
  /* border-radius: 5px; */
  padding: 5px 0;
  margin: 0;
}

.wrapper .label {
  background: #fff;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin: 0 10px; */
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  /* border: 1px solid lightgrey; */
  transition: all 0.3s ease;
}

.wrapper .label .dot {
  height: 15px;
  width: 15px;
  background: #dadada9f;
  border-radius: 50%;
  position: relative;
}

.wrapper .label .dot::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: rgb(87, 214, 150);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.checkbox1 {
  display: none;
}
.checkbox2 {
  display: none;
}

.button {
  background: rgb(87, 214, 150);
  border-radius: 30px;
  width: 100%;
  height: 25px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.checkbox1:checked:checked ~ .label1 .checkbox2:checked:checked ~ .label2 {
  border-color: rgb(87, 214, 150);
  background: rgb(87, 214, 150);
}

.checkbox1:checked:checked ~ .label1 .dot,
.checkbox2:checked:checked ~ .label2 .dot {
  background: #dadada9f;
}

.checkbox1:checked:checked ~ .label1 .dot::before,
.checkbox2:checked:checked ~ .label2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .label .labelText {
  font-size: small;
  color: #808080;
  margin-left: 5px;
}

.checkbox1:checked:checked ~ .label1 labelText,
.checkbox2:checked:checked ~ .label2 labelText {
  color: #dadada9f;
}
