.titleGroup {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
}

.titleIcon {
  font-size: x-large;
}

.title {
  text-align: start;
  margin: 0;
  padding: 0;
}

.line {
  border: 1px solid #adc178;
  width: 50%;
  margin: 5px 0 15px 0;
}

.fileInputGroup {
  display: flex;
  margin: 20px 0;
}

.imgLabel {
  background-color: #6c757d;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fileInput {
  display: none;
  /* height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 50%;
  color: #999999; */
}

/* .imgLabel { */
/* color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 30px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: small;
} */

/* .baseFileInput {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
} */

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.selectBox {
  display: flex;
  justify-content: start;
  margin: 20px 0;
}

.select {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.missionTitle {
  text-align: start;
}

.content {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 200px;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 0.5rem;
}

.button:disabled {
  background-color: #dadada;
}

.content:focus {
  outline: none;
}
.wrapper {
  display: flex;
  background: #fff;
  border-radius: 5px;
  padding: 10px 0;
}

.wrapper .label {
  background: #fff;
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper .label .dot {
  height: 15px;
  width: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper .label .dot::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #adc178;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.checkbox1 {
  display: none;
}
.checkbox2 {
  display: none;
}

.content {
  display: flex;
  justify-content: start;
  /* width: 300px; */
  height: 200px;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 0.5rem;
}

.content:focus {
  outline: none;
}

.button {
  background: #adc178;
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.checkbox1:checked:checked ~ .label1 .checkbox2:checked:checked ~ .label2 {
  border-color: #adc178;
  background: #adc178;
}

.checkbox1:checked:checked ~ .label1 .dot,
.checkbox2:checked:checked ~ .label2 .dot {
  background: #fff;
}

.checkbox1:checked:checked ~ .label1 .dot::before,
.checkbox2:checked:checked ~ .label2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .label .labelText {
  font-size: small;
  color: #808080;
}

.checkbox1:checked:checked ~ .label1 labelText,
.checkbox2:checked:checked ~ .label2 labelText {
  color: #fff;
}
