.leafSize {
  margin-top: 5px;
  margin-left: 5px;
  width: 15px;
  height: 20px;
}

.favoriteadd {
  margin-right: 3px;
  cursor: pointer;
  color: #0e0301;
}
.favoritetrash {
  cursor: pointer;
  color: #adc178;
}
