.table {
  width: 300px;
  /* border-collapse: collapse; */
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 10px;
  background-color: #eeeeee;
  /* padding: 7px 10px;s */
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: end;
}

.noticePost {
  border: 2px solid #dadada;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  padding: 3px 3px;
  font-size: small;
}

.noticePost:hover {
  background-color: #dadada;
  color: black;
}

.title {
  font-size: 12px;
  margin: 5px;
}

.pageGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.icon {
  color: #dadada;
  padding: 10px;
}

.icon:hover {
  color: black;
}

.pageNumber {
  padding: 7px;
  margin: 0 10px;
  font-size: small;
  color: #b6b4b4;
}

.pageNumber:hover {
  cursor: pointer;
  color: black;
}

.active {
  color: black;
  background-color: #dadada5d;
  border-radius: 10px;
  padding: 5px 10px;
}
