.header {
  padding-top: 30px;
}

.headerTag {
  margin-bottom: 10px;
  position: relative;
  right: 120px;
}
.headerFont {
  font-size: small;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid #adc178;
}

.photo {
  margin: 1px;
  padding: 90px;
  border: 3px solid #000000;
}

.photoFont {
  font-weight: bold;
  font-size: small;
}

.cateName {
  font-size: small;
}

.testInput {
  border-radius: 50px;
}
