.notice {
  margin-top: 50px;
  width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  text-align: start;
  font-weight: bold;
  font-size: 23px;
  word-break: break-all;
  white-space: pre-wrap;
}

.info {
  display: flex;
  justify-content: end;
}

.text {
  font-size: 10px;
  text-align: start;
  margin-right: 20px;
}

.content {
  margin: 40px 0 10px 0;
  text-align: left;
  font-size: small;
  word-break: break-all;
  white-space: pre-wrap;
  height: 300px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  padding: 10px 10px;
  border: none;
}

.dropdownItem:hover {
  background-color: #dadada;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.icon {
  color: black;
}

.dropdownIcon {
  font-size: 15px;
  color: black;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  font-size: x-small;
  word-break: break-all;
  white-space: pre-wrap;
  border-bottom: 1px solid #dadada;
  color: #ada8a8;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.page {
  margin-right: 10px;
  width: 30px;
}

.pageTitle:hover {
  color: black;
  cursor: pointer;
}
