.list {
  flex-shrink: 0;
  flex-basis: 50%;
  border: 1px solid #dadada;
  border-radius: 10%;
  margin: 15px 5px;
  padding: 5px;
  box-shadow: 5px 5px 10px 1px rgba(218, 218, 218, 1);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 10px;
}

.button {
  border: none;
  background-color: white;
  transition: all 2s ease-in;
  padding: 0px;
}

.button :hover {
  cursor: pointer;
  color: #adc178;
  transform: scale(1.1);
}

.user {
  text-align: start;
  font-size: x-small;
  padding: 0 5px;
}

.img {
  width: 50%;
}

.content {
  text-align: end;
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
  height: 50px;
}

.buttonGroup {
  display: flex;
  justify-content: end;
}

.link {
  text-decoration: none;
  color: black;
}
