.Tree {
  width: 400px;
  margin-top: 80px;
  margin-left: 0;
  margin-right: auto;
  position: relative;
}

.Img {
  width: 350px;
  margin-left: 0;
  margin-right: auto;
}
.windImg {
  position: absolute;
  width: 40%;
  left: 20px;
  top: 80px;
  animation-name: qimg;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.windImg2 {
  position: absolute;
  width: 40%;
  left: 150px;
  top: 200px;
  animation-name: qimg;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes qimg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Statis {
  width: 120px;
  height: 150px;
  font-size: small;
  /* background-color: #d9d9d991; */
  /* background-color: beige; */
  background: linear-gradient(45deg, #fef6de, #fef6de);
  border-radius: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Statis p {
  margin: auto 10px;
}

.Statis i {
  margin-right: 5px;
  color: black;
}
