.Tree {
  position: relative;
}

.Img {
  /* margin-top: 20%; */
  width: 390px;
height: 90vh;
}

.Statis {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 100px;
  /* height: 150px; */
  font-size: small;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Statis p {
}

.Statis i {
  margin: 10px;
  color: black;
}


.leaf{
  width: 15px;
  margin-right: 10px;
}