.Tree {
  position: relative;
}

.Img {
  width: 390px;
  height: 82vh;
}
.windImg {
  position: absolute;
  width: 40%;
  left: 20px;
  top: 80px;
  animation-name: qimg;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  -webkit-user-drag: none;
}
.windImg2 {
  position: absolute;
  width: 40%;
  left: 150px;
  top: 200px;
  animation-name: qimg;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  -webkit-user-drag: none;
}

.windImg3 {
  position: absolute;
  width: 40%;
  left: 50px;
  top: 300px;
  animation-name: qimg;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  -webkit-user-drag: none;
}
@keyframes qimg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Statis {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 100px;
  font-size: small;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  -webkit-user-drag: none;
}

.Statis p {
}

.Statis i {
  margin: 10px;
  color: black;
}

.leaf {
  width: 15px;
  margin-right: 10px;
  -webkit-user-drag: none;
}
