.list {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.profileImg {
  margin-right: 7px;
  float: left;
}

.img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.friendContent {
  margin-bottom: 10px;
  clear: both;
}

.content {
  text-align: left;
}

.userName {
  display: flex;
  justify-content: start;
  color: #6a707c;
  font-size: x-small;
  font-weight: bold;
  margin-bottom: 3px;
}

.message {
  display: inline-block;
  justify-content: start;
  color: #6a707c;
  font-size: 12px;
  font-weight: bold;
  max-width: 200px;
  border: none;
  background-color: rgb(87, 214, 150);
  color: #fff;
  padding: 7px;
  border-radius: 10px;
}

.sendDate {
  color: #6a707c;
  font-size: 5px;
  font-weight: 400;
  margin-left: 5px;
}

.userContent {
  float: right;
  display: flex;
  margin-bottom: 12px;
  clear: both;
}

.userSendDate {
  justify-content: start;
  position: relative;
  bottom: 3px;
  color: #6a707c;
  font-size: 5px;
  font-weight: 400;
  float: right;
  margin-top: 15px;
  margin-right: 7px;
}

.userMessage {
  display: flex;
  justify-content: start;
  color: #6a707c;
  font-size: 11px;
  font-weight: bold;
  max-width: 200px;
  border: none;
  background-color: beige;
  color: #6a707c;
  padding: 7px;
  border-radius: 10px;
  text-align: left;
  float: right;
}
