.Font {
  font-weight: bold;
  text-align: left;
}

.trending {
  margin-top: 20px;
  margin-bottom: 30px;

  padding: 10px;
  border: 2px solid #adc178;
}

.tablehead {
  padding: 10px;

  display: flex;
  justify-content: space-around;
  border: 2px solid #adc178;
}
