.Font {
  font-weight: bold;
  text-align: left;
  margin-bottom: 30px;
}

.trending {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #adc178;
}

.tablehead {
  margin-top: 20px;
  padding: 10px;

  display: flex;
  justify-content: space-around;
  border-top: 2px solid #dadada;

  background-color: #dadada;
  font-weight: bold;
}

.box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  border: none #dddddd;
  border-bottom: 2px solid #dadada;
  border-radius: 5px;
}

.plusbutton {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #adc178;
}
