.list {
  width: 380px;
  height: 68px;
  border: none;
  background-color: transparent;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
.list:hover {
  background-color: #f3f3f3;
}
.link{
width: 96%;
display: inline-block;  
float: left;
}
.leftContent {
  display: inline-block;
  float: left;
  width: 70%;
}

.rightContent {
  display: inline-block;
  width: 20%;
}

.line {
  border: solid #D5D5D5;
  border-width: 1px 0px 0px 0px;
  clear: both;
}

.toUserName {
  font-size: 14px;
  font-weight: bold;
  color: #6a707c;
  margin-top: 20px;
  margin-bottom: 3px;
  text-align: left;
  font-family: "NanumBarunGothicLight";

}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: inline-block;
  float: left;
  margin: 10px;
}

.lastSendMessage {
  text-align: left;
  font-size: 11px;
  color: #6a707c;
  font-family: "NanumBarunGothicLight";
}

.lastSendTime {
  display: flex;
  position: absolute;
  font-size: x-small;
  color: #BDBDBD;
  float: right;
  line-height: 95px;
  font-family: "NanumBarunGothicLight";

}
.deleteButton {
  float: left;
  width: 3%;
}
.icon {
  color: #6a707c;
  font-size: 14px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
