.commentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 10px 30px;
}

.comment {
  display: flex;
  align-items: flex-start;
  flex-basis: 90%;
  width: 90%;
}

.userInfo {
  margin: 3px 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.profileImg {
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  margin-right: 3px;
}

.user {
  font-weight: bold;
  font-size: x-small;
  margin: 1px 15px 0 0;
}

.content {
  font-size: x-small;
  text-align: start;
  margin: 3px 0;
  padding: 0;
  white-space: normal;
  word-break: break-all;
}

.registTime {
  font-size: xx-small;
  text-align: start;
  margin: 3px 0;
  padding: 0;
  color: #c6c4c4;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  padding: 5px;
  border: none;
}

.dropdownItem:hover {
  background-color: #dadada;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.icon {
  color: black;
  font-size: 7px;
  display: flex;
  justify-items: end;
}

.dropdownIcon {
  font-size: 15px;
  color: black;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.editFormGroup {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0 0 0 40px;
}

.editFormUser {
  font-weight: 700;
  font-size: small;
}

.editForm {
  width: 100%;
}
