.list {
  width: 300px;
  height: 45px;
  /* margin: 20px; */
}

.list:hover {
  width: 300px;
  background-color: #EAEAEA;
}

.link {
  width: 280px;
  /* display: inline-block; */
  /* padding: 5px; */
  /* margin: 30px; */
}

.leftContent {
  margin-top: 10px;
  display: inline-block;
  float: left;
  text-align: left;
  width: 70%;
}

.rightContent {
  margin-top: 10px;
  display: inline-block;
  /*float: right; */
  width: 30%;

}
.typeBox{
  float: left;
  width: 60px;
}
.type{
  margin: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #353535;
  width: 300px;
  text-align: center;
}

.text{
  font-size: x-small;
  color: grey;
}
.report{
  color:darkred;
  font-weight: 600;
  font-size: x-small;
}
.line {
  border: solid #D5D5D5;
  border-width: 1px 0px 0px 0px;
}

