/* 상단 START */
.headerMain {
  padding-top: 30px;
}
.mainHeader {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.mainHeaderRight {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}

.mainHeaderLeft {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
  border-bottom: 2px solid #adc178;
}

.mainColor {
  color: #adc178;
  margin-left: 3px;
}
/* 상단 END */

/* 미션 LIST START*/
.box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.missionList {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.trashColor {
  color: #6a707c;
  font-size: 15px;
  cursor: pointer;
}

/*미션 END*/

/* 하단 START */
.innerBtn {
  margin-top: 10px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.innerBtn:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.greenTrash {
  color: #adc178;
}
.whiteTrash {
  color: white;
}
