.login {
  display: inline-block;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 10%;
}

.img {
  height: 200px;
  margin-bottom: 30px;
}

.input {
  margin: 5px 0 10px 0;
}

.input:focus {
  outline: none;
}

.radio {
  margin: 10px 0;
  text-align: start;
}

.radioText {
  font-size: small;
}

.lineGroup {
  margin: 30px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.shortLine {
  width: 15%;
  height: 1px;
  padding: 0;
  margin: 0 5px 0 0;
  border: none;
  background-color: #dadada;
}

.lineText {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.longLine {
  width: 35%;
  height: 1px;
  padding: 0;
  margin: 0 0 0 5px;
  border: none;
  background-color: #dadada;
}

.socialGroup {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
}

.socialButton {
  border: solid 2px #dadada;
  border-radius: 15px;
  background-color: white;
  padding: 3% 15%;
}

.socialLogo {
  width: 100%;
  height: 30px;
}

.shortLine2 {
  width: 15%;
  height: 1px;
  padding: 0;
  margin: 0 5px 0 0;
  border: none;
  background-color: #dadada;
}

.longLine2 {
  width: 70%;
  height: 1px;
  padding: 0;
  margin-left: 0 0 0 5px;
  border: none;
  background-color: #dadada;
}

.text {
  display: flex;
  justify-content: start;
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.success {
  color: #949191;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.fail {
  color: red;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.test {
  height: 34px;
  margin: 0;
}

.loginButton:disabled {
  background-color: #dadada;
}
