.list {
  position: relative;
  flex-shrink: 0;
  /* flex-basis: 30%; */
  border-radius: 10%;
  margin: 15px 5px;
  padding: 0px;
  box-shadow: 3px 3px 10px 1px rgba(218, 218, 218, 1);

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.list:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.userInfo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.user {
  text-align: start;
  font-size: small;
  font-weight: bold;
}

.postImg {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 180px;
  height: 160px;
}

.iconGroup {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 15px;
}

.heartIcon {
  color: red;
  font-size: large;
  margin-right: 5px;
}

.heartButton {
  display: flex;
  justify-content: end;
  align-items: center;
  border: none;
  background-color: white;
  margin-right: 5px;
  font-family: "NanumBarunGothicLight";
}
