.Footer {
  /* height: 75px; */
  padding: 1.5rem;
  /* color: white; */
  background-color: rgba(255, 255, 255);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 390px;
  z-index: 1;
  border-top-color: rgb(230, 230, 230);
  border-top-width: 0.005em;
  border-top-style: solid;
  border-radius: 20px;
}

.icon {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  color: rgb(165, 165, 165);
  font-size: 25px;
}
.icon:hover {
  color: rgb(196, 196, 196);
}

.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.newbadge {
  margin-bottom: 0px;
  /* background-color: #7dd6fc; */
  background-color: #f77;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  font-size: 12px;
  vertical-align: middle;

  position: absolute;
  left: 80%;
  bottom: 80%;
  /* line-height: 150px; */
  transition: all 200ms ease-in-out;
}

.active {
  color: rgb(87, 214, 150);
  transform: scale(1.3);
}

.active:hover {
  color: rgb(117, 244, 180);
}
