.Footer {
  height: 75px;
  padding: 1rem;
  color: white;
  background-color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 330px;
}

.Img {
  height: 30px;
}
