.Header {
  height: 60px;
  padding: 0.7rem;
  color: white;
  background-color: #FFF;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  width: 390px;
  z-index: 1;
  /* border-bottom-color: beige;
  border-bottom-width: 0.005em;
  border-bottom-style: solid; */
}

.Img {
  height: 40px;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profileButton {
  background-color: transparent;
  border: none;
}

.headerIcon {
  color: rgb(201, 201, 201);
  font-size: 25px;
}

.headerIcon:hover{
  color: rgb(196, 196, 196);
}

