.Header {
  height: 50px;
  padding: 1rem;
  color: white;
  background-color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  width: 330px;
  z-index: 1;
}

.Img {
  height: 30px;
}

.profileImg {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

.profileButton {
  background-color: white;
  border: none;
}

.icon {
  color: #adc178;
  font-size: 20px;
  margin: 5px;
}
