.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal > section {
  position: relative;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: center;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
.deleteButton{
  color: rgb(87, 214, 150);
  position: absolute;
  right: 15px;
}
.deleteIcon{
  color: rgb(87, 214, 150);
}
.title{
  font-size: 25px;
  font-weight: bold;
  color: #3f3f3f;
  margin-top: 20px;
}
.content{
  margin: 30px;
  font-size: large;
}
.endTime{
  margin-top: 12px;
  font-size: small;
  background-color: rgba(255, 255, 255, 0.719);
}
.create{
  border: none;
  background-color: rgb(87, 214, 150) ;
  color:#FFF;
  padding:10px 17px;
  margin-right: 10px;
  font-family: "NanumBarunGothicLight";
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px rgb(199, 199, 199);
}
.create:hover{
  background-color:rgb(166, 228, 166);;
}
.close{
  border: none;
  background-color: #FFF ;
  color:rgb(122, 122, 122);
  padding:10px 17px;
  font-family: "NanumBarunGothicLight";
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px rgb(199, 199, 199);
}
.close:hover{
  background-color:rgb(221, 221, 221);;
}

.already{
  border: none;
  background-color: rgb(87, 214, 150);
  color:#FFF;
  padding:7px 25px;
  font-family: "NanumBarunGothicLight";
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px rgb(199, 199, 199);
}
.already:hover{
  background-color:rgb(168, 168, 168);;
}
.post{
  font-size: small;
  color:grey;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
