.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(148, 148, 148, 0.6);
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  padding: 16px 16px;
  background-color: rgb(87, 214, 150);
  color: #FFF;
  font-weight: 700;
}

.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  position: relative;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
 .main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
}

.selectBox {
  position: relative;
  width: 100%;
  height: 35px;
  border-bottom: rgb(87, 214, 150) solid 2px;
  background-color: white;
  z-index: 1;
}
.selectBox .select {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  font-family: "NanumBarunGothicLight";
  padding: 0;
  position: relative;
  z-index: 3;
  appearance: none;
}
.option {
  color: rgb(44, 44, 44);
  font-size: 12px;
  border: 0 none;
}
.selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
    display: flex;
  justify-content: center;
  align-items: center;
  color:  rgb(87, 214, 150);
}

.selectBox .icoArrow i {
  width: 50%;
  transition: 0.3s;
}

.selectBox .select:focus + .icoArrow i {
  transform: rotate(180deg);
}

.countBox{
  width: 100%;
  margin-top: 20px;
  font-size: 13px;
  display: flex;
}
.numInput{
  font-family: "NanumBarunGothicLight";
  border: none;
  margin-left: 10px;
  padding-left: 10px;
  border-bottom: rgb(87, 214, 150) solid 2px;
}
.numInput:focus {
  outline: none;
}

.contentBox{
  display: block;
  margin-top: 17px;
  font-size: 13px;
  width: 100%;
  text-align: left;
}
.contentTitle{
  padding-bottom: 6px;
  border-bottom: rgb(87, 214, 150) solid 2px;
  width: 100%;
}
.contentText{
  width: 100%;
  margin-top: 8px;
  height: 60px;
  border: rgb(185, 185, 185) solid 1px;
}

.contentText:focus {
  outline: none;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: center;
}
.create{
  border: none;
  background-color: rgb(87, 214, 150) ;
  color:#FFF;
  padding:10px 17px;
  margin-right: 10px;
  font-family: "NanumBarunGothicLight";
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px rgb(199, 199, 199);
}
.create:hover{
  background-color:rgb(166, 228, 166);;
}
.create:disabled {
  background-color: #b3b3b3;
}
.close{
  border: none;
  background-color: #FFF ;
  color:rgb(122, 122, 122);
  padding:10px 17px;
  font-family: "NanumBarunGothicLight";
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px rgb(199, 199, 199);
}
.close:hover{
  background-color:rgb(221, 221, 221);;
}
.p{
  margin: 5px;
  font-size: x-small;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
