p {
  word-break: keep-all;
}

.profileImg {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
}

.icon {
  height: 20px;
  width: 20px;
}

.container {
  width: 95%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgba(218, 218, 218, 1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 4px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
  margin: 0 auto 10px auto;

  animation: show 300ms;
  animation-fill-mode: both;
  transition: all 200ms ease-in-out;
}

.container-delete {
  animation: delete 250ms;
  animation-fill-mode: both;
}

.head {
  justify-content: space-between;
  display: flex;
  padding: 10px;
  color: #fafafa;
  background-color: rgb(87, 214, 150);
}

.title {
  float: left;
}

.title p {
  display: inline;
  margin: 0 5px;
  font-size: 90%;
}

.close {
  float: right;
  width: 16px;
  height: 16px;
}

.close:hover {
  cursor: pointer;
}

.content {
  display: flex;
  margin: 10px 10px 0px 10px;
}

.content * {
  margin: 5px;
}

.content p {
  margin: auto auto auto 5%;
  font-size: small;
  text-align: left;
}

.content > img {
  font-size: xx-small;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3%;
}

.button {
  padding: 5px 5px;
  border-radius: 10px;
  width: 20%;
  color: white;
  background-color: white;
  font-size: smaller;
  font-weight: 700;
  text-align: center;
  margin-right: 5%;
  transition: all 200ms ease-in;
  font-family: "NanumBarunGothicLight";
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.accept {
  border: 2px solid rgb(87, 214, 150);
  color: rgb(87, 214, 150);
}

.accept:hover {
  background-color: rgb(87, 214, 150);
  color: white;
}

.refuse {
  border: 2px solid #888;
  color: #888;
}

.refuse:hover {
  background-color: #888;
  color: white;
}

@keyframes show {
  0% {
    transform: translateY(120%);
  }

  80% {
    transform: translateY(0) scale(1.1);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes delete {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  99% {
    transform: scale(0);
  }

  100% {
    transform: translateY(-1000px);
  }
}
