.userSettingPage {
  margin-bottom: 100px;
  width: 100%;
}

.header {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.selectedMenu {
  font-weight: bold;
}

.emailGroup {
  text-align: start;
  margin-top: 20px;
}

.emailTitleGroup {
  display: flex;
  justify-content: start;
  align-items: center;
}

.emailTitle {
  margin: 10px 0 0 0;
}

.socialLogo {
  width: 20px;
  margin: 0 0 0 10px;
  padding: 0;
}

.email {
  /* margin: 10px 5px;
  font-size: large;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 2px; */
  margin: 10px 0;
  border-bottom: 1px solid #dadada;
  padding: 10px 5px;
  color: #949191;
}

.econameGroup {
  text-align: start;
  margin-top: 50px;
}

.econameTitle {
  display: flex;
  align-items: center;
}

.econameChange {
  display: flex;
  align-items: center;
}

.passwordGroup {
  text-align: start;
}

.editIcon {
  color: black;
  font-size: small;
}

.passwordSmallText {
  font-size: x-small;
  color: #949191;
  margin: 5px 0 10px 5px;
}

.passwordForm {
  margin: 0;
  padding: 0;
}

.passwordFormInput {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 270px;
  height: 35px;
  padding-left: 10px;
  font-family: "NanumBarunGothicLight";
}

.passwordFormInput:focus {
  outline: none;
}

.passwordFormButton {
  background: rgba(87, 214, 150, 1);
  border: none;
  border-radius: 8px;
  width: 55px;
  height: 35px;
  font-size: x-small;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 10px 0 0 5px;
  padding: 0;
  font-family: "NanumBarunGothicLight";
}

.passwordFormButton:disabled {
  background-color: #dadada;
}

.line {
  margin: 40px 0;
  border: 0.5px solid #dadada;
}

.userButton {
  display: block;
  border: none;
  background-color: white;
  cursor: pointer;
  /* margin: 10px; */
  color: #949191;
  font-family: "NanumBarunGothicLight";
  margin-bottom: 8px;
}

.userButton:hover {
  color: black;
}

.success {
  color: #949191;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.fail {
  color: red;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.test {
  height: 34px;
  margin: 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
