.container {
  position: absolute;
}

.toastify-toast {
  word-break: keep-all;
  width: 70%;
  left: 20%;
  font-size: small;
  font-family: "NanumBarunGothicLight";
  background-color: #eee;
  color: #333;
  margin-bottom: 10px;
}
