.container {
  position: absolute;
  /* background-color: blue; */
}

.toastify-toast {
  word-break: keep-all;
  width: 70%;
  left: 20%;
  bottom: 80px;
  font-size: small;
  font-family: "NanumBarunGothicLight";
  /* background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18); */
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  background-color: #eee;
  color: #333;
  margin-bottom: 10px;
}
