.form {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}

.input {
  background: white;
  border: none;
  border-bottom: 1.5px solid #dadada;
  width: 80%;
  height: 30px;
  font-size: 12px;
  padding-left: 10px;
  margin: 5px 5px 5px 0;
  font-family: "NanumBarunGothicLight";
}

.input:focus {
  outline: none;
}

.button {
  background: rgb(87, 214, 150);
  border: none;
  border-radius: 8px;
  width: 13%;
  height: 28px;
  font-size: x-small;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 0;
  font-family: "NanumBarunGothicLight";
}

.button:disabled {
  background-color: #dadada;
}

.closeButton {
  background: #dadada;
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 13%;
  height: 28px;
  font-size: x-small;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 10px 0 0 5px;
  padding: 0;
}

.smallButton {
  width: 80%;
}

.largeButton {
  width: 100%;
}
