.form {
  margin: 0;
  padding: 0;
}

.input {
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 80%;
  height: 30px;
  font-size: x-small;
  padding-left: 10px;
  margin: 5px 0;
}

.button {
  background: #adc178;
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 15%;
  height: 30px;
  font-size: x-small;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 0;
}

.button:disabled {
  background-color: #dadada;
}

.closeButton {
  background: #adc178;
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 15%;
  height: 30px;
  font-size: x-small;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 0;
}

.smallButton {
  width: 70%;
}
.largeButton {
  width: 80%;
}
