.container {
  width: 300px;
  margin-top: 20px;
  display: block;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: start;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-left: 300px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  padding: 10px 10px;
  border: none;
}

.dropdownItem:hover {
  background-color: #dadada;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.icon {
  color: black;
}

.dropdownIcon {
  font-size: 15px;
  color: black;
}

.postImg {
  width: 100%;
  height: 100%;
}

.user {
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: white;
}

.button:hover {
  cursor: pointer;
}

.userProfile {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profileImg {
  width: 20px;
  height: 20px;
  background-color: white;
  margin-right: 5px;
}

.heart {
  color: red;
  margin-right: 5px;
}

.content {
  /* height: 100px; */
  margin: 20px 0;
  text-align: left;
  font-size: small;
  word-break: break-all;
  white-space: pre-wrap;
}

.line {
  color: #dadada;
  margin: 30px 0 20px 0;
}

.CommentForm {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* .scroll {
  height: 100%;
  overflow: auto;
}

.unset {
  height: 100%;
  overflow: unset;
} */

.registTime {
  display: flex;
  font-size: 10px;
  /* text-align: end; */
  justify-content: end;
  margin-right: 0;
}
