.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: start;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  padding: 10px 10px;
  border: none;
}

.dropdownItem:hover {
  background-color: #dadada;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownIcon {
  font-size: 15px;
}

.img {
  width: 70%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: white;
}

.button:hover {
  cursor: pointer;
}

.heart {
  color: red;
}

.content {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
