.login {
  display: inline-block;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.img {
  height: 200px;
  margin-top: 10%;
  margin-bottom: 30px;
}

.text {
  font-weight: bold;
}

.input {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  font-family: "NanumBarunGothicLight";
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #dadada;
}

.button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  background-color: rgb(87, 214, 150);
  font-family: "NanumBarunGothicLight";
}

.button:disabled {
  background-color: #dadada;
  border: none;
}

.link {
  text-decoration: none;
}
