.mainHeader {
  padding: 10;
  display: flex;
  align-items: center;
}

.mainHeaderLeft {
  justify-content: start;
}
.mainHeaderCenter {
  justify-content: center;
}

.mainHeaderRight {
  justify-content: end;
}
