.mainHeader {
  display: flex;
  justify-content: space-between;
}

/* .boxSet {
  display: flex;
  justify-content: space-around;
} */

.box {
  display: flex;

  margin: auto;
  padding: 10px;
  border: 1px solid #dddddd;
}
.box .chk {
  width: 20%;
  justify-content: start;
}

.box .cnt {
  width: 60%;
  justify-content: center;
}

.box .trash {
  width: 20%;
  justify-content: end;
}
