/* 상단 START */
.mainHeader {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.mainHeaderRight {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}

.mainHeaderLeft {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
  border-bottom: 2px solid #adc178;
}

.mainColor {
  color: #adc178;
  margin-left: 3px;
}
/* 상단 END */

/* 미션 LIST START*/
.box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.missionList {
  color: #6a707c;
  font-size: x-small;
  font-weight: bold;
}

/*미션 END*/

/* 하단 START */
.btn {
  margin-top: 10px;
}
