.mainHeader {
  display: flex;
  justify-content: space-between;
}

/* .boxSet {
  display: flex;
  justify-content: space-around;
} */

.box {
  margin: 50px;
  padding: 10px;
  border: 1px solid #dddddd;
}
