.mainHeader {
  display: flex;
  justify-content: space-between;
}

/* .boxSet {
  display: flex;
  justify-content: space-around;
} */

.box {
  display: flex;

  margin: auto;
  padding: 10px;
  border: 1px solid #dddddd;
}
.box .chk {
  width: 5%;
  justify-content: center;
}

.box .cnt {
  width: 90%;
  justify-content: center;
}

.box .trash {
  width: 5%;
  justify-content: center;
}
