.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px 0;
  padding: 5px 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* .container:hover {
  box-shadow: 1px 1px 1px 1px rgba(218, 218, 218, 10);
} */

.friendProfile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 4px 0 0 0;
  position: inherit;
  left: 0px;
  transition: 0.5s;
}

.profileImg {
  width: 30px;
  height: 30px;
  background-color: white;
  margin-right: 10px;
}

.friendName {
  font-weight: 600;
}

.button {
  border: none;
  background-color: white;
  padding: 0 0 5px 0;
}

.trash {
  color: red;
  transition: all 300ms ease-in;
}

.trash:hover {
  transform: scale(1.1);
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.buttonVisible {
  position: relative;
  overflow: hidden;
}

.buttonHidden {
  position: relative;
  overflow: hidden;
}

.testButton {
  border: none;
  background-color: #f14336;
  color: white;
  width: 50px;
  height: 36px;
  padding: auto;
  position: absolute;
  right: -50px;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
  font-family: "NanumBarunGothicLight";
}

.buttonVisible .testButton {
  right: 0;
  transition: 0.5s;
}

.buttonVisible .friendProfile {
  left: -50px;
  transition: 0.5s;
}
