.body {
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  text-align: center;
  /* height: 50px; */
  line-height: 50px;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(320px / 7);
  border: 0.7px solid rgba(128, 128, 128, 0.1);
  border-radius: 3px;
  font-size: 0.7em;
}

.text {
  margin: 0 0 0 5px;
}
