.body {
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  width: calc(300px / 7);
  border: 0.7px solid rgba(128, 128, 128, 0.1);
  border-radius: 3px;
  font-size: 0.8em;
}

.text {
  margin: 0 0 0 5px;
  display: flex;
  justify-self: start;
  align-self: baseline;
}

.not_valid {
  color: darkgray;
}

.valid:hover {
  transform: scale(1.01);
  border: none;
  background-color: rgba(169, 169, 169, 0.1);
}

.selected {
  transform: scale(1.02);
  border: none;
  background-color: #d2eaba42;
}

.img {
  margin: auto;
  padding: auto;
  width: 30%;
}

.red {
  color: red;
}
