.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profileImg {
  width: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

.icon {
  font-size: 10px;
  color: black;
  margin: 3px;
}

.buttonGroup {
  display: flex;
  justify-content: end;
}

.button {
  border: none;
  background-color: white;
  transition: all 2s ease-in;
  padding: 0px;
  margin: 0;
}

.button :hover {
  cursor: pointer;
  /* color: #adc178; */
  transform: scale(1.1);
}

.settingIcon {
  color: black;
  font-size: x-small;
}

.friendIcon {
  color: black;
  font-size: smaller;
}

.missionList {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
}

/* .missionTitle {
  padding: 0 30px;
}

.line {
  width: 100%;
} */

.selectedMenu {
  font-weight: bold;
}

.mission {
  display: flex;
  justify-content: start;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.missionImg {
  width: 30%;
  margin: 5px;
  border: 1px solid #dadada;
}
