.userInfo {
  /* display: flex; */
  /* justify-content: space-between; */
  /* background-image: url(../../../public/ocean.PNG); */
  
  /* background-color: beige; */
  width: 390px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.user {
  background: linear-gradient(beige 30%, white);
  /* display: flex; */
  justify-content: start;
  align-items: center;
}

.userSettingAndFriends {
  display: flex;
  justify-content: center;
}


.profileImg {
  width: 150px;
  height: 150px;
  background-color: white;
  /* border: 1px solid black; */
  border: none;
  border-radius: 50%;
  margin-top: 60px;
  margin-right: 5px;
}

.icon {
  font-size: 10px;
  color: black;
  margin: 3px;
  background-color: transparent;
}

.buttonGroup {
  display: flex;
  justify-content: end;
  background-color: transparent;
}

.button {
  border: none;
  background-color: transparent;
  transition: all 2s ease-in;
  padding: 0 0 5px 3px;
  margin: 0px;
 
}

.button :hover {
  cursor: pointer;
  transform: scale(1.1);
}

.settingIcon {
  color: black;
  font-size: x-small;
}

.friendIcon {
  color: black;
  font-size: smaller;
  margin: 5px;
}

.missionList {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .missionTitle {
  padding: 0 30px;
}

.line {
  width: 100%;
} */

.selectedMenu {
  font-weight: bold;
}

.mission {
  display: flex;
  justify-content: start;
  /* grid-template-columns: 1fr 1fr 1fr; */
  flex-wrap: wrap;
  
}

.missionImg {
  width: 30%;
  margin: 5px;
  border: 1px solid #dadada;
  border-radius: 5px;
  height: 110px;
}

