.signup {
  display: inline-block;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 30px;
}

.img {
  height: 200px;
  margin-bottom: 50px;
}

.emailCheckText {
  text-align: start;
  font-size: xx-small;
}

.EmailInput {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.visible {
  visibility: visible;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.label {
  display: flex;
  justify-content: start;
  font-size: small;
  margin: 0 0 0 10px;
}

.input {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 83%;
  height: 35px;
  padding-left: 10px;
  font-family: "NanumBarunGothicLight";
}

.input::placeholder {
  color: #dadada;
}

.input:focus {
  outline: none;
}

.passwordInput {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  font-family: "NanumBarunGothicLight";
}

.passwordInput::placeholder {
  color: #dadada;
}

.passwordInput:focus {
  outline: none;
}

.button {
  width: 55px;
  height: 35px;
  border: 1px solid rgb(87, 214, 150);
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
  background-color: rgb(87, 214, 150);
  color: white;
  font-family: "NanumBarunGothicLight";
}

.buttonEmail:disabled {
  background-color: #dadada;
  border: none;
}

.inputEmail {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  height: 35px;
  width: 65%;
  font-size: small;
  margin-right: 10px;
  padding-left: 10px;
}

.inputEmail:focus {
  outline: none;
}

.buttonEmail {
  width: 55px;
  height: 35px;
  border: 1px solid rgb(87, 214, 150);
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
  background-color: rgb(87, 214, 150);
  color: white;
  font-family: "NanumBarunGothicLight";
}

.signupButton {
  font-family: "NanumBarunGothicLight";
}

.signupButton:disabled {
  background-color: #dadada;
  border: none;
}

.lineGroup {
  margin: 30px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.shortLine {
  width: 15%;
  height: 1px;
  padding: 0;
  margin: 0 5px 0 0;
  border: none;
  background-color: #dadada;
}

.lineText {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.longLine {
  width: 53%;
  height: 1px;
  padding: 0;
  margin: 0 0 0 5px;
  border: none;
  background-color: #dadada;
}

.text {
  display: flex;
  justify-content: start;
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.success {
  color: #949191;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.codeMessage {
  color: #949191;
  margin: 5px 0 5px 0;
  font-size: x-small;
  text-align: start;
}

.fail {
  color: red;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.test {
  height: 34px;
  margin: 0;
}
