.commentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.comment {
  display: flex;
  align-items: flex-start;
  flex-basis: 85%;
  width: 85%;
}

.userInfo {
  margin: 3px 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.profileImg {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  border: none;
  margin-right: 3px;
}

.user {
  font-weight: bold;
  font-size: x-small;
  margin: 5px 15px 0 0;
}

.content {
  font-size: x-small;
  text-align: start;
  margin: 3px 0;
  padding: 0;
  white-space: normal;
  word-break: break-all;
}

.registTime {
  font-size: xx-small;
  text-align: start;
  margin: 3px 0;
  padding: 0;
  color: #c6c4c4;
}

/* .replyButton {
  border: 1px solid #adc178;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
} */

/* .buttonGroup {
  display: flex;
  align-items: flex-start;
} */

.dropdown {
  position: relative;
  display: inline-block;
  /* padding: 5px 10px; */
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  border: none;
}

.dropdownItem:hover {
  background-color: #dadada;
}

.dropdown:hover .dropdownContent {
  display: block;
  animation-name: dropdown;
  animation-duration: 500ms;
  animation-direction: normal;
}

.icon {
  color: black;
  font-size: 7px;
  display: flex;
  justify-items: end;
}

.dropdownIcon {
  font-size: 15px;
  color: black;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.replyButton {
  border: none;
  border-radius: 15px;
  font-size: x-small;
  color: #6e6e6e;
  background-color: white;
  transition: all 300ms ease-in-out;
  margin: 0;
}

.replyButton:hover {
  transform: scale(1.1);
}

.editFormGroup {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.editFormUser {
  font-weight: 700;
  margin-right: 15px;
}

.editForm {
  width: 100%;
}

/* .deleteButton {
  position: relative;
  padding: 3px 5px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #F14336;
  color: #6e6e6e;
  background-color: white;
  transition: all 300ms ease-in-out;
}

.deleteButton:hover {
  background-color: #F14336;
  color: #e1eef6;
} */
