.container {
  width: 300px;
  margin-top: 50px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
}

.text {
  font-weight: bold;
  /* color: #615e5e; */
  color: black;
  margin: 5px 0;
  margin-right: 10px;
}

.list {
  margin-bottom: 50px;
}

.link {
  border: none;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: small;
  margin: 5px 0 0 5px;
}

.plusIcon {
  transition: all 300ms ease-in;
  font-size: larger;
  margin: 0;
  color: #dadada;
}

.plusIcon:hover {
  cursor: pointer;
  color: #adc178;
  transform: scale(1.1);
}

.iconDo {
  color: #615e5e;
  margin-right: 5px;
  width: 40px;
}

.iconUse {
  color: #615e5e;
  margin-right: 5px;
  width: 40px;
}

.iconSave {
  color: #615e5e;
  margin-right: 5px;
  width: 40px;
}

.iconBuy {
  color: #615e5e;
  margin-right: 5px;
  width: 40px;
}

.iconRecycle {
  color: #615e5e;
  margin-right: 5px;
  width: 40px;
}
