
.mainFeed {
}

.session1 {
  background-color: transparent;
  width: 390px;
  height: 28vh;
  text-align: left;
}

.do1 {
  position: relative;
  background-color: #afc5a0;
  width: 390px;
  height: 28vh;
  background: url("../../../public/mainFeed/do1.PNG");
  background-size: 120% 120%;
  background-position: -70px -40px;
}
.do1:hover {
  background-color: rgb(85, 109, 101);
  transform: scale(0.9);
  transition: 0.5s;
  opacity: 0.4;
}

.do1Title {
  position: absolute;
  font-weight: bold;
  font-size: 23px;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.session2 {
  float: left;
  height: 28vh;
  width: 390px;
}

.do2 {
  width: 230px;
  position: relative;
  height: 28vh;
  background-color: #efefae;
  float: left;
  background: url("../../../public/mainFeed/do2.PNG");
  background-size: 190% 120%;
  background-position: -50px 20px;
}
.do2:hover {
  background-color: rgb(122, 160, 91);
  transform: scale(0.9);
  opacity: 0.4;
  transition: 0.5s;
}
.do2Title {
  position: absolute;
  font-size: 23px;
  bottom: 20px;
  font-weight: bold;
  left: 20px;
  color: #fff;
}

.do3 {
  position: relative;
  height: 28vh;
  width: 160px;
  float: left;
  background-color: #eac88e;
  background: url("../../../public/mainFeed/do3.PNG");
  background-size: 200% 100%;
  background-position: center 20px;
}
.do3:hover {
  background-color: rgb(136, 98, 91);
  transform: scale(0.9);
  opacity: 0.4;
  transition: 0.5s;
}
.do3Title {
  position: absolute;
  font-size: 23px;
  bottom: 20px;
  font-weight: bold;
  left: 15px;
  color: #fff;
}

.session3 {
  clear: both;
  height: 27vh;
  float: left;
  width: 390px;
}

.do4 {
  position: relative;
  height: 28vh;
  width: 160px;
  float: left;
  background-color: #d07a7a;
  background: url("../../../public/mainFeed/do4.PNG");
  background-size: 220% 100%;
  background-position: center 10px;
}
.do4:hover {
  background-color: rgb(75, 98, 110);
  transform: scale(0.9);
  opacity: 0.4;
  transition: 0.5s;
}
.do4Title {
  position: absolute;
  font-size: 23px;
  bottom: 30px;
  left: 13px;
  font-weight: bold;
  color: #fff;
}
.do5 {
  position: relative;
  height: 28vh;
  width: 230px;
  float: left;
  background-color: #ccde79;
  background: url("../../../public/mainFeed/do5.PNG");
  background-size: 180% 100%;
  background-position: -130px;
}
.do5:hover {
  background-color: rgb(93, 69, 94);
  transform: scale(0.9);
  opacity: 0.4;
  transition: 0.5s;
}

.do5Title {
  position: absolute;
  font-size: 23px;
  bottom: 30px;
  font-weight: bold;
  left: 20px;
  color: #fff;
}