.title {
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
}

.formVisible {
  visibility: visible;
}

.formHidden {
  display: none;
}

.changeFormVisible {
  visibility: visible;
}

.changeFormHidden {
  display: none;
}

.input {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 83%;
  height: 35px;
  padding-left: 10px;
  font-family: "NanumBarunGothicLight";
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #dadada;
}

.button {
  width: 55px;
  height: 35px;
  border: 1px solid rgb(87, 214, 150);
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
  background-color: rgb(87, 214, 150);
  color: white;
  font-family: "NanumBarunGothicLight";
}

.buttonEmail:disabled {
  background-color: #dadada;
}
.changeButton:disabled {
  background-color: #dadada;
}

.text {
  display: flex;
  justify-content: start;
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.EmailInput {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.visible {
  visibility: visible;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.inputEmail {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  height: 35px;
  width: 65%;
  font-size: small;
  margin-right: 10px;
  padding-left: 10px;
}

.inputEmail:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

.buttonEmail:disabled {
  background-color: #dadada;
  border: none;
}

.buttonEmail {
  width: 55px;
  height: 35px;
  border: 1px solid rgb(87, 214, 150);
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
  background-color: rgb(87, 214, 150);
  color: white;
  font-family: "NanumBarunGothicLight";
}

.success {
  color: #949191;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.fail {
  color: red;
  margin: 5px 0 20px 0;
  font-size: x-small;
  text-align: start;
}

.test {
  height: 34px;
  margin: 0;
}

.changeButton {
  font-family: "NanumBarunGothicLight";
}

.changeButton:disabled {
  background-color: #dadada;
  border: none;
}
