.title {
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
}

.formVisible {
  visibility: visible;
}

.formHidden {
  display: none;
}

.changeFormVisible {
  visibility: visible;
}

.changeFormHidden {
  display: none;
}

.input {
  border: solid 2px #dadada;
  border-radius: 8px;
  margin: 5px 0;
  height: 40px;
  width: 100%;
  background-color: #f7f8f9;
  padding: 10px 20px;
  font-size: small;
}

.button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  background-color: #d2eaba;
}

.text {
  display: flex;
  justify-content: start;
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.EmailInput {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.visible {
  visibility: visible;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.inputEmail {
  border: solid 2px #dadada;
  border-radius: 8px;
  height: 40px;
  width: 70%;
  background-color: #f7f8f9;
  font-size: small;
  margin-right: 20px;
  padding: 10px 20px;
}

.buttonEmail {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #d2eaba;
}
