.container {
  margin-top: 30px;
}

.titleGroup {
  display: flex;
  justify-content: start;
  align-items: center;
}

.titleIcon {
  font-size: x-large;
}

.title {
  text-align: start;
  margin: 0;
  padding: 0;
}

.titleInput {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 290px;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 30px;
}

.titleInput:focus {
  outline: none;
}

.line {
  border: 1px solid #adc178;
  width: 50%;
  margin: 5px 0 15px 0;
}

.wrapper {
  display: flex;
  background: #fff;
  border-radius: 5px;
  padding: 10px 0;
}

.wrapper .label {
  background: #fff;
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper .label .dot {
  height: 15px;
  width: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper .label .dot::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #adc178;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.radioInput1 {
  display: none;
}
.radioInput2 {
  display: none;
}

.content {
  display: flex;
  justify-content: start;
  width: 300px;
  height: 200px;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 0.5rem;
}

.content:focus {
  outline: none;
}

.button {
  background: #adc178;
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.radioInput1:checked:checked ~ .label1 .radioInput2:checked:checked ~ .label2 {
  border-color: #adc178;
  background: #adc178;
}

.radioInput1:checked:checked ~ .label1 .dot,
.radioInput2:checked:checked ~ .label2 .dot {
  background: #fff;
}

.radioInput1:checked:checked ~ .label1 .dot::before,
.radioInput2:checked:checked ~ .label2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .label .labelText {
  font-size: small;
  color: #808080;
}

.radioInput1:checked:checked ~ .label1 labelText,
.radioInput2:checked:checked ~ .label2 labelText {
  color: #fff;
}
