.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col .col_start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 0.5em;
  margin-right: 5px;
  font-size: 1em;
  font-weight: 600;
}

.button {
  border: none;
  background-color: white;
}
