.titleGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  background-color: white;
}

.text {
  color: #6a707c;
  font-size: small;
  font-weight: bold;
}

.title {
  color: #6a707c;
  font-weight: bold;
}

.createButton {
  color: #6a707c;
  font-weight: bold;
  margin-top: 3px;
}

.plusIcon {
  color: #adc178;
  margin-left: 3px;
}
