.chatting {
  display: inline-block;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.img {
  height: 200px;
  margin-bottom: 10px;
}

.createRoomButton {
  margin-left: 15px;
  font-size: 60px;
  position: fixed;
  bottom: 90px;
  color: rgb(87, 214, 150);
}
.createRoomButton:hover {
  color: rgb(166, 228, 166);
}
.noChattingList{
  padding-top: 30px;
}
.noChattingMessage{
  font-size: small;
  font-weight: bold;
  color: grey;
}

