.header {
  padding: 7px;
  border-bottom: 1px solid #EAEAEA;
  /* box-shadow: 0px 0px 1px 0px gray inset; */
  /* height: 75px; */
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  width: 390px;
  z-index: 3;
  font-weight: 600;
}
.link{
  color:rgb(87, 87, 87);
}
.backIcon{
  color: grey;
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-left: 7px;
  margin-right: 10px;
}
.toUserName {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}
.chattingRoom {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 365px;
  justify-content: center;
  margin-top: 5px;
  padding-bottom: 70px;
}
.chatting {
  /* height: 500px; */
  /* overflow: scroll; */
}
.chattingForm {
  padding: 7px;
  border-top: 1px solid #EAEAEA;
  /* height: 75px; */
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 390px;
  z-index: 2;
}

.sendMessage {
  float: left;
  width: 80%;
  display: block;
}

.messageInput {
  background: white;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  font-family: "NanumBarunGothicLight";
}
.messageInput:focus{
  outline: none;
}
.sendButton {
  background-color: rgb(87, 214, 150);
  color: #FFF;
  font-size: 15px;
  font-family: "NanumBarunGothicLight";
  border:none;
  border-radius:30px;
  width: 65px;
height: 45px;
}
.sendButton:hover{
  background-color: rgb(166, 228, 166);
}
.input:focus {
  outline: none;
}

.noChattingList {
  padding-top: 30px;
}
.noChattingMessage {
  font-size: small;
  font-weight: bold;
  color: grey;
}
