.list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list::-webkit-scrollbar {
  height: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 100px;
}

.list::-webkit-scrollbar-track {
  background-color: white;
  border: 1px solid #dadada;
  border-radius: 100px;
}

.box {
  /* height: 100px; */
}
